<div class="row">
    <div class="col-xs-12">
        <p>Add new Servers or blueprints!</p>
        <label>Server Name</label>
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
        <input 
        type="text" 
        class="form-control" 
        #serverInputName>
        <label>Server Content</label>
        {{serverInputName.value}}
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
        <input 
        type="text" 
        class="form-control" 
        #serverInputContent>
        <br>
        <button class="btn btn-primary" (click)="onAddServer(serverInputName)">Add Server</button>
        <button class="btn btn-primary" (click)="onAddBlueprint(serverInputName)">Add Server Blueprint</button>
    </div>
</div>